<link rel="stylesheet" type="text/css" href="/css/styla.css" />


<div class="s-layout">

        
        <!-- Content -->

<main class="s-layout__content">     
<div class="section-form">
  <% include ./partials/messages %>
                              
  <% if ( success_messages !='' ) { %>
    <div class="alert alert-success" >
        <strong><%= success_messages %> </strong>
    </div>
    <% } %>

        <form  action="/product_type" method="post">
          <div class="intro"> 
            <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">Add Product Type</h1>
          </div>
         
          <!--
            <select id="size" class = "select" name = "gender" type = "text"  required = "required">
              <option value = "" disabled selected>Select Gender</option>
              <% data.forEach(function(item) { %>
              <option > <%= item.gender %></option>
              <% }); %>  
            </select>
            -->
          <input type="text" value="" placeholder="Product Type " name="product_type" required/>
          <button type="submit" style="background-color: green;"  class="btn btn-primary btn-block" >Submit</button>
        </form>
      </div>
        </main>
        </div>